/tests/Makefile
/tests/Makefile.in
/Makefile.in
/Makefile
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
package.m5
.deps
.libs
*.la
*.lo
*.o
*~
